*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  color: #384047;
  margin: 0;
}

body > header {
  color: white;
  background: #2d3945;
}

body > header h1 {
  margin: 0;
  text-align: center;
  padding: 24px 0;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 1px;
}

main {
  max-width: 300px;
  margin: 0 auto;
  padding: 0 6px;
}

section {
  margin-top: 3px;
  padding: 24px 0 12px;
  border-top: solid black 2px;
}

form {
  margin: 30px 0;
  padding: 0;
}

form > header {
  border-bottom: solid black 4px;
}

form > header h2 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
}

form > header p {
  text-align: center;
  font-size: .875rem;
  font-weight: 300;
  color: darkgrey;
  padding-bottom: 24px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: #eff0f1;
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  color: black;
  margin-bottom: 10px;
  border-radius: 5px;
}

input:not(:focus),
select:not(:focus),
textarea:not(:focus) {
  border: solid white 2px; /* Added because focus was shifting elements even though border-box was applied */
}

input:focus,
select:focus,
textarea:focus {
  border: solid steelblue 2px;
}

textarea {
  resize: none;
  height: 100px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select:invalid {
  font-weight: 300;
  color: darkgrey;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/arrows.png) no-repeat right 9px center, #eff0f1;
}

input::placeholder {
  text-align: right;
  font-size: .8rem;
  font-weight: 300;
  font-style: italic;
  color: darkgrey;
}

p {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4ebbb5;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  border: none;
  font-family: inherit;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 3px 0 5px;
  font-size: .875rem;
  font-weight: 300;
  line-height: 180%;
}

label.light {
  font-weight: 300;
  display: inline;
}

footer {
  text-align: center;
  font-size: .875rem;
  font-weight: 300;
  font-style: italic;
  color: darkgrey;
  padding-bottom: 200px;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}
